<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars Facts!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Mars Facts!</h1>
    <a class="btn btn-primary" href="/scrape" role="button">Scrape for current Data</a>
  </div>

  <div class="container-fluid"> 
    <div class="row">
  
      <div class="col-md-12" style="padding: 2.5%;">
        <h2>Latest Mars News:</h2>
        <h3>{{ mars_results.news_title }}</h3>
        <p>{{ mars_results.news_paragraph }}</p>
      </div>
    </div>
  </div>
  
    <div class="row">
        <div class="col-lg-7 col-md-7">
            <h3 class="text-center" >Featured Mars Image</h3>
            <center><img src="{{ mars_results.featured_image }}" style="max-width:85%; max-height: auto;" alt="Mars Featured Image"></center>
        </div>
      <div class="container col-lg-4 col-md-4 ">
            <h3 style="margin-top: 10px;">Mars Facts</h3>
            <div style="max-width: 450px; max-height: 100px; font-size: 15px; margin-bottom: 50px;" class="table table-striped">
                {{ mars_results.mars_facts|safe}}
        </div> <!-- col4 -->
      </div>
    </div><!-- Row -->
  <!-- Mars Hemispheres -->
  <br>
  <br>
  <br>
  <br>
  <hr>
<div class="container-fluid" >
  <div class="row">
    <h2 class="text-center col-md-12">Hemispheres of Mars</h2>
    <br>
  </div>
  <div class="col-md-12">
    <div class="row">
  {% for pics in mars_results.hemispheres %}
      <div class="col-md-6 text-center">
        <div class="card text-white bg-dark" style="margin: 30px;">
          <center><img  src="{{ pics.image_url }}" style="max-width:50%; max-height: auto;" class="card-img-top center" ></center>
            <div class="card-body text-center ">
              <h7 class="card-title text-center">{{ pics.title }}</h7>
            </div>
          </div>
      </div>
  {% endfor %}
  </div>
  </div>
  </div>
</body>

</html>
